<!DOCTYPE html>
<html lang="en" ng-app="blogApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Angular-Firebase-CRUD</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body ng-controller="MyController as ctrl">
<section>
    <div class="container">
        <div class="col-sm-8">
            <div class="panel panel-white  panel-shadow">
                <div class="post-heading">
                    <div class="pull-left">
                        <img src="http://bootdey.com/img/Content/user_2.jpg" alt="user profile image">
                    </div>
                    <div class="pull-left">
                        <div class="title">
                            <a href="#"><b>Marvis Wang</b></a> made a post.
                        </div>
                        <h6>10 minute ago</h6>
                    </div>
                </div>
                <div class="post-description">
                    <p>「浪花兄弟」柯瑞、克雷湯普生攜手火力全開，勇士幾乎難以擊敗！勇士昨在西區準決賽第5戰，靠著柯瑞29分、11助攻，湯普生也拿33分，最後125比121力挫拓荒者，4勝1敗戰績宣告連兩年闖進西區冠軍賽。</p>  
                </div>
                <div class="post-footer">
                    <form ng-submit="ctrl.addItem()" >
                        <input type="text" ng-model="ctrl.username"  name="name" id="name" placeholder="Type your name" >
                        <textarea ng-model="ctrl.usermessage" id="message" class="form-control" name="message" placeholder="Type in your message" rows="5" ></textarea>
                        <button class="btn btn-info" type="submit">Post New Message</button>
                    </form>
                    <ul class="comments-list" ng-repeat="item in ctrl.crudList">
                        <li>
                            <a class="pull-left" href="#">
                                <img src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">
                            </a>
                            <div class="comment-body">
                                <div>
                                    <h4 ng-bind="item.name"> </h4>
                                    <h5 ng-bind="item.time"> </h5>
                                </div>
                                <p ng-bind="item.message"></p>
                            </div>
                            <div class="stats"> 
                                <button ng-click="ctrl.like(item)" class="btn btn-default stat-item">
                                    <i class="fa fa-thumbs-up icon" ng-bind="item.like"></i>
                                </button>
                                <button ng-click='ctrl.unlike(item)' class="btn btn-default stat-item">
                                    <i class="fa fa-thumbs-down icon"  ng-bind="item.unlike"></i>
                                </button>
                                <div  class="pull-right">                                
                                    <button ng-click="ctrl.editItem(item)" class="btn btn-primary">edit</button>
                                    <button ng-click="ctrl.deleteItem(item)" class="btn btn-danger">delete</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>

</html>